
/*
#############################################
        MODULES.CONFIG: used to define process arguments with task and file publishing

        NOTE task: task.ext.args can be invoked within a module and is typically defined in this config with ext.args inside withName: (see line 23)

        publishing: files get published to $NXF_WORK which by default is ./work. 
            To capture files that get written in this directory you need to invoke publishDir
#############################################
*/

process {

    // set default publishing 
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0]}" },
        mode: params.output_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'GUNZIP_*' {
        ext.args = '-c'
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0]}" },
            mode: params.output_mode,
            enabled: params.output_gunzip,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename } 
        ]
    }
}