params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    /*
    *    REQUIRED PARAMS
    */

    fasta = 'https://gitlab.com/Gabriel-A-Barrett/testdata/-/raw/main/Abal/aalba5_s00000010.1_1.fa'

    species_code = 'Alba'
    version      = 'v1.1'
    
}

process {
    cpus   = { check_max( 3    * task.attempt, 'cpus'   ) }
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
}